body{
    background-color: #d5dbd9;
}

#color-block-background{
    background-color: #009688;
    height: 20vh;
}

#app main{
    width: 80%;
    height: 90%;
    background-color: #eaeaea;
    position: absolute;
    top: 5%;
    left: 10%;
}

#sx_column{
    height: 678px;
    border-right: solid 1px #dadada;
}

#user_info{
    padding: 0 10px;
}

#user_info .avatar_user{
    width: 40px;
    height: 40px;
    display: inline-block;
}

#user_info .avatar_user img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 50%;
}

#user_info .col-dx .fa-solid{
    color: #b1b1b1;
    margin-left: 10px;
}

#notifications{
    background-color: #8edafc;
    width: 100%;
    padding: 0;
}

#notifications .mute_icon{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 10px;
}

#notifications .fa-bell-slash{
    color: #8edafc;
}

.notifications-text .subtitle{
    font-size: 12px;
    color: #557e90;
    text-decoration: underline;
}

#search_chat input.form-control{
    font-size: 12px;
}

#search_chat span.input-group-text{
    background-color: white;
}

#search_chat .fa-magnifying-glass{
    color: #b9bbbc;
}