/* Background */
body{
    background-color: #d5dbd9;
}

#color-block-background{
    background-color: #009688;
    height: 20vh;
}


/* Container principale della web app */
#app main{
    width: 80%;
    height: 675px;
    background-color: #eaeaea;
    position: absolute;
    top: 5%;
    left: 10%;
}

/* Wrapper sinistro */
#sx_column{
    border-right: solid 1px #dadada;
    height: 675px;
    width: 30%;
}

/* Wrapper destro */
#dx_column{
    height: 675px;
    width: 70%;
}


/* Info utente che utilizza la web app */
#user_info{
    padding: 0 10px;
    height: 55px;
}

#user_info .avatar_user{
    width: 40px;
    height: 40px;
    display: inline-block;
}

#user_info .avatar_user img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 50%;
}

#user_info .col-dx .fa-solid{
    color: #b1b1b1;
    margin-left: 10px;
}


/* Notifiche */
#notifications{
    background-color: #8edafc;
    width: 100%;
    height: 70px;
}

#notifications .mute_icon{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 10px;
}

#notifications .fa-bell-slash{
    color: #8edafc;
}

.notifications-text .subtitle{
    font-size: 12px;
    color: #557e90;
    text-decoration: underline;
}


/* Ricerca chat */
#search_chat{
    height: 50px;
    background-color: #f8f9fa;
}

#search_chat input.form-control{
    font-size: 12px;
}

#search_chat span.input-group-text{
    background-color: white;
}

#search_chat .fa-magnifying-glass{
    color: #b9bbbc;
}


/* Lista chat */
#list_chat{
    padding: 0 15px;
    background-color: white;
    height: 500px;
    overflow-y: scroll;
}

#list_chat .avatar_user{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}

#list_chat .avatar_user img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 50%;
}

#list_chat .data_user .last-message,.time{
    font-size: 12px;
    color: #b1b1b1;
}

#list_chat .single_chat{
    position: relative;
}

#list_chat .single_chat .time{
    position: absolute;
    top: 10px;
    right: 0px;
}


/* Info utente chat attiva */
#chat_info{
    padding: 0 10px;
    height: 55px;
}

#chat_info .avatar_user{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

#chat_info .avatar_user img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 50%;
}

#chat_info .col-dx .fa-solid{
    color: #b1b1b1;
    margin-right: 10px;
}

#chat_info .last_access{
    font-size: 12px;
    color: #a0a5b0;
}



/* Schermata chat con messaggi */
#chat_wrapper{
    height: 565px;
    background-image: url(../img/mine.jpg);
}

#chat_wrapper .wrapper_messages{
    width: 80%;
    margin: 0 auto;
}

#chat_wrapper .user_message{
    background-color: #d5f9ba;
    padding: 10px;
    border-radius: 10px;
    align-self: flex-end;
    margin-bottom: 10px;
    width: 45%;
}

#chat_wrapper .chat_message{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    align-self: flex-start;
    margin-bottom: 10px;
    width: 45%;
}

#chat_wrapper .time{
    position: relative;
    top: 15px;
}


/* Bottom con input per invio messaggi */
#chat_bottom{
    height: 55px;
}

#chat_bottom .send_message{
    width: 80%;
}

#chat_bottom .emoticons,.vocal_message{
    width: 10%;
    font-size: 20px;
    color: #6b7376;
}